@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------------------------------------ */
html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", "poppins";
    line-height: 1.75;
    color: #333;
    padding-top: 70px;
}

@media (min-width: 768px) {
    body {
        padding-top: 100px;
    }

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

li {
    list-style: none;
}

/* 部品 ----------------------------------------------------------------- */

.btn {
    position: relative;
    display: block;
    text-align: center;
    border-radius: 25px;
}

/* ヘッダー ------------------------------------------------------------- */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    line-height: 1;
    box-shadow: 0px 2px 8px rgba(0 0 0 /10%);
}

@media (min-width: 768px) {
    .header {
        height: 100px;
        align-items: center;
        justify-content: space-between;
        padding-inline: 16px;
    }
}

.header-logo img {
    width: 71%;
    padding: 0 0 0 15px;
}

@media (min-width: 768px) {
    .header-logo img {
        width: 180px;
        padding: 0;
    }
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #005bac;
}

.hamburger-button-bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger-button-bar:first-child,
.hamburger-button-bar:nth-child(2) {
    margin-bottom: 6px;
}

@media (min-width: 768px) {
    .hamburger-button {
        display: none;
    }
}


/* ハンバーガーメニュー */
@media (max-width: 767px) {
    .hamburger-menu {
        position: fixed;
        display: flex;
        top: 66px;
        left: 0;
        width: 100%;
        background-color: #005bac;
        transform: translateX(100vw);
        transition: all .2s linear;
        padding: 0 20px 20px 20px;
    }
}

/* スライドイン後の位置の指定 */
.hamburger-menu-active {
    transform: translateX(0);
}

.hamburger-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

@media (min-width: 768px) {
    .hamburger-nav {
        flex-direction: row;
        align-items: normal;
        gap: 4.5vw;
    }
}

.hamburger-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}


@media (min-width: 768px) {
    .hamburger-nav-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 2.4vw;
        margin-bottom: 6px;
        align-items: center;
    }
}

.hamburger-nav-list li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 9px 0 19px 0;
}

@media (min-width: 768px) {
    .hamburger-nav-list li a {
        justify-items: flex-start;
        font-size: 16px;
        font-weight: 500;
        color: #333;
        padding: 0;
    }
}

@media (min-width:981px) {
    .hamburger-nav-list li a {
        font-size: 20px;
    }
}

.bi-arrow-right-short {
    font-size: 28px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .bi-arrow-right-short {
        display: none;
    }
}

.hamburger-nav-list li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
    .hamburger-nav-list:hover {
        color: #0271e0;
    }
}



/* ボタン ----------------------------- */



.hamburger-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn-hero {
    width: 350px;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
    color: #005bac;
    font-size: 18px;
    font-weight: 700;
    border-radius: 33px;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    opacity: 0.5;
}

@media (min-width:768px) {
    .btn-hero {
        width: 202px;
        background: linear-gradient(135deg, #0271e0, #53a2f0);
        color: #fff;
        font-size: 16px;
    }
}


@media (min-width: 981px) {
    .btn-hero {
        width: 260px;
        height: 54px;
        background: linear-gradient(135deg, #0271e0, #53a2f0);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        border-radius: 31px;
        transition: all 0.3s ease;
    }
}

/* カバー --------------------------------------------------------------- */

.cover {
    background-image: url(/assets/image/main_visual_sp.jpg);
    width: 100%;
    aspect-ratio: 390 / 250;
    background-size: cover;
    position: relative;
    max-height: 342px;
    padding-top: 9%;
    padding-inline: 4%;
}


@media (min-width: 768px) {
    .cover {
        background-image: url(/assets/image/main_visual_pc.jpg);
        width: 100%;
        background-size: cover;
        max-height: 651px;
        padding-top: 5%;
        padding-inline: 20px;
        background-position: center;
    }
}

.cover-container {
    max-width: 715px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cover-container {
        max-width: 1080px;
    }

}

.cover-item {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20%;
    left: 8%;
}

@media (min-width: 768px) {
    .cover-item {
        display: flex;
        flex-direction: column;
        top: 180px;
        left: 200px;
    }
}

.cover-inner {
    display: flex;
    flex-direction: column;
}

.inner-top {
    display: flex;
    margin-bottom: 18px;
}

.spacer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.inner-top-text {
    font-size: 11px;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .inner-top-text {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

.inner-top-no1 {
    font-size: 25px;
    font-style: italic;
    color: #f11f8b;
}

@media (min-width: 768px) {
    .inner-top-no1 {
        font-size: 54px;
        font-style: italic;
        color: #f11f8b;
    }
}

.number {
    font-size: 36px;
    font-weight: 800;
}

@media (min-width: 768px) {
    .number {
        font-size: 74px;
        font-weight: 800;
    }
}

.Extrabold {
    font-weight: 800;
}

.Poppins {
    font-family: "Poppins", sans-serif;
}

.frame-img {
    width: 24px;
    height: 70px;
}

@media (min-width: 768px) {
    .frame-img {
        width: 52px;
        height: 150px;
    }
}

.inner-bottom-class {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .inner-bottom-class {
        font-size: 33px;
        font-weight: 400;
    }
}

.inner-bottom-text {
    font-size: 25px;
    color: #005bac;
    font-weight: 900;
    line-height: 1;
}

@media (min-width: 768px) {
    .inner-bottom-text {
        font-size: 60px;
        font-weight: 900;
        line-height: 1.4;
    }
}

.inner-bottom-text-down {
    font-size: 25px;
    color: #005bac;
    font-weight: 900;
    line-height: 1;
    margin: 10px 0 15px 0;
}

@media (min-width: 768px) {
    .inner-bottom-text-down {
        font-size: 60px;
        font-weight: 900;
    }
}


/* ボタン --------------------------------------------------------------- */


.btn-box {
    width: auto;
}


.btn-box-container {
    padding: 23px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (min-width: 768px) {
    .btn-box-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}

@media (min-width:980px) {
    .btn-box-container {
        gap: 30px;
    }
}

.btn-green {
    width: 250px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #77cb33;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 33px;
    transition: all 0.3s ease;
}

.btn-orange {
    width: 250px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f6aa00;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 33px;
    transition: all 0.3s ease;
}

.btn-skyblue {
    width: 250px;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #3ac8ab;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 33px;
    transition: all 0.3s ease;
}

.btn-green:hover,
.btn-orange:hover,
.btn-skyblue:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {

    .btn-green,
    .btn-orange,
    .btn-skyblue {
        width: 330px;
        height: 70px;
        font-size: 24px;
        font-weight: 700;
        border-radius: 33px;
    }
}


/* ３つの特色 --------------------------------------------------------------- */

.reason {
    padding: 10px 20px 20px 20px;
}

@media (min-width: 768px) {
    .reason {
        padding: 30px 20px 30px 20px;
    }
}

.reason-container {
    max-width: 500px;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .reason-container {
        max-width: 1160px;
        margin-inline: auto;
    }
}

.reason-title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}


@media (min-width: 768px) {
    .reason-title {
        font-size: 36px;
        font-weight: 700;
    }
}

.pink {
    color: #f11f8b;
    font-size: 40px;
}

@media (min-width: 768px) {
    .pink {
        font-size: 54px;
    }
}

.reason-item {
    display: flex;
    flex-direction: column;
}


@media (min-width: 768px) {
    .reason-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .reason-item.reverse {
        flex-direction: row-reverse;
    }
}

.reason-img {
    width: 100%;
}

@media (min-width: 768px) {
    .reason-img {
        margin-top: 10px;
        width: 49%;
    }
}

@media (min-width: 981px) {
    .reason-img {
        width: 48%;
        height: auto;
    }
}

.reason-img img {
    width: 100%;
}

.reason-item-content {
    text-align: left;
    font-size: 16px;
    width: 100%;
    padding: 1px 2px 2px 2px;
}

@media (min-width: 768px) {
    .reason-item-content {
        width: 49%;
        padding: 0 0 2px 10px;
    }
}

.reason-item:not(:last-child) {
    margin-bottom: 40px;
}

@media (min-width:981px) {
    .reason-item:not(:last-child) {
        margin-bottom: 35px;
    }   
}

.reason-item-content-point {
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #f11f8b;
}

@media (min-width: 768px) {
    .reason-item-content-point {
        font-size: 28px;
    }
}

.point-number {
    font-size: 36px;
    font-weight: 800;
    margin-left: 6px;
}

@media (min-width: 768px) {
    .point-number {
        font-size: 42px;
        margin-left: 7px;
    }
}

.reason-item-content-text-top {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    margin-top: 6px;
}

@media (min-width: 768px) {
    .reason-item-content-text-top {
        font-size: 24px;
        margin-top: 0;
    }
}

.reason-item-content-down {
    font-weight: 400;
    font-size: 16px;
    margin: 8px 2px 0 0 ;
}

@media (min-width: 768px) {
.reason-item-content-down {
    padding: 15px 2px 0 0 ;
}
}


/* お問い合わせ --------------------------------------------------------------- */


.form {
    padding: 45px 15px 45px 15px;
    background-color: rgba(255, 85, 85, 0.1);
}

@media (min-width: 768px) {
    .form {
        padding: 50px 20px 50px 20px;
        background-color: rgba(255, 85, 85, 0.1);
    }
}

.form-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .form-text {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .form-text br {
        display: none;
    }
}

.btn-hero-bule {
    width: 304px;
    height: 70px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(135deg, #0271e0, #53a2f0);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 35px;
    transition: all 0.3s ease;
}

.btn-hero-bule:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .btn-hero-bule {
        width: 380px;
        height: 75px;
        font-size: 24px;
        font-weight: 700;
        border-radius: 35px;
    }
}


/* コース --------------------------------------------------------------- */

.course {
    padding: 60px 5px 30px 5px;
}

@media (min-width: 768px) {
    .course {
        padding: 20px 5px 20px 5px;
    }
}

.course-container {
    max-width: 500px;
    margin-inline: auto;
    font-weight: 700;
}

@media (min-width: 768px) {
    .course-container {
        max-width: 1150px;
        margin-inline: auto;
    }
}

.course-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .course-title {
        font-size: 36px;
    }
}

/* タブコンテンツ */
.tab-content {
    text-align: center;
    background-color: #f2f9ff;
    height: 2000px;
}

@media (min-width: 768px) {
    .tab-content {
        border-radius: 0 0 12px 12px;
    }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 20px 5px;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        padding: 40px 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.tab-content-title::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 8px;
    background-image: url(/assets/image/arrow_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}


/* タイトル */
.tab-content-title {
    display: flex;
    align-items: center;
    margin-top: .7rem;
    font-size: 20px;
    line-height: 1.65;
    color: #333;
}

.tab-content-title:hover {
    color: #0271e0;
}

/* タブ */
.st-theme-basic {
    border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
    column-gap: 10px;
    flex-direction: row !important;
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
    padding: 20px 19px;
    line-height: 1;
    background-color: #f0f0f0;
    color: rgba(51, 51, 51, 0.5);
    font-size: 18px;
    border-radius: 12px 12px 0 0;
}

@media (min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link {
        padding: 20px 30px;
        font-size: 24px;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: #333 !important;
    background-color: #f2f9ff;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

.tab-content-item-link {
    display: block;
    pointer-events: auto;
    overflow: hidden;
    border-radius: 20px;
}

.tab-content-item {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .tab-content-item {
        width: 48%;
    }
}

.tab-content-item-link:hover img {
    transform: scale(1.2);
}

.tab-content-item img {
    transition: transform .6s ease;
    width: 100%;
    height: 100%;
}



/* 料金 --------------------------------------------------------------- */

.cost {
    padding: 30px 30px 60px 30px;


}

@media (min-width: 768px) {
    .cost {
        padding: 20px 15px;

    }
}

.cost-container {
    max-width: 1080px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cost-container {

        max-width: 660px;
        margin: 0 auto;
    }
}

.cost-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .cost-title {
        font-size: 36px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    overflow: hidden;
    border: 3px solid #ccc;

}

thead {
    background-color: #eaeaea;
}

th {
    padding: 14px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 400;
}

@media (min-width: 768px) {
    th {
        padding: 20px 0px;
        font-size: 18px;
    }
}

td {
    border-left: 1px solid #ccc;
    font-size: 28px;
    font-weight: 900;
    color: #f23397;
    border-bottom: 1px solid #ccc;
    padding: 20px 20px 20px 20px;
    text-align: center;
    line-height: 1;
}

@media (min-width: 768px) {
    td {
        font-size: 32px;
    }
}

.yen {
    font-size: 16px;
}

@media (min-width: 768px) {
    .yen {
        font-size: 18px;
    }
}



/* よくあるご質問 --------------------------------------------------------------- */

.question-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .question-container {
        flex-direction: row;
    }
}

.question-box {
    height: 225px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.box-bg-faq {
    background-image: url(/assets/image/qa_sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .6s ease;
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .box-bg-faq {
        background-image: url(/assets/image/qa.jpg);
    }
}

.box-bg-search {
    background-image: url(/assets/image/classrooms_sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .6s ease;
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .box-bg-search {
        background-image: url(/assets/image/classrooms.jpg);
    }
}

.question-box:hover .box-bg-faq {
    transform: scale(1.2);
}

.question-box:hover .box-bg-search {
    transform: scale(1.2);
}

.question-text {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    top: 50%;
    left: 15px;
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .question-text {
        font-size: 28px;
        left: 8%;
    }
}

/* フッター --------------------------------------------------------------- */

/* フッターのスタイル */
.footer-container {
    background-color: #ddd;
    text-align: center;
    padding: 20px 0;
}

.footer-copyright {
    font-size: 13px;
    font-family: poppins, sans-serif;
}